<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alpine course components</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.0/dist/cdn.min.js"></script>
    <script src="app.js"></script>
</head>

<body class="bg-gray-100 p-8">
    <!-- dropdown -->
    <div x-data="{open:false}">
        <button @click="open = !open"
            class="py-2 px-6 bg-purple-600 hover-bg-opacity-95 inline-flex jusity-center items-center text-white rounded-md shadow">
            Toggle
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6 ml-2 transition-all" :class="{'rotate-90':open}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>


        </button>
        <ul x-show="open" @click.outside="open = false" x-transition class="bg-white w-[160px] shadow-md py-1 ">
            <li>
                <a class="py-1 px-2 hover:bg-gray-200 block flex items-center jusity-center" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-4 h-4 mr-3">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>

                    Open</a>
            </li>
            <li>
                <a class="py-1 px-2 hover:bg-gray-200 block flex items-center jusity-center" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-4 h-4 mr-3">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                    </svg>

                    Edit</a>
            </li>
            <li>
                <a class="py-1 px-2 hover:bg-gray-200 block flex items-center jusity-center" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-4 h-4 mr-3">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                    </svg>

                    Delete</a>
            </li>
        </ul>
    </div>

    <br>

    <!-- modal -->
    <div x-data="{open:false,acept(){
        alert('success')
    }}">
        <button @click="open = true"
            class="py-2 px-6 bg-purple-600 hover-bg-opacity-95 inline-flex jusity-center items-center text-white rounded-md shadow">
            Toggle Modal
        </button>
        <!-- backdrop -->
        <div x-show="open"
            class="fixed flex rounded-xl justify-center items-center left-0 top-0 bottom-0 right-0 z-10 bg-black/50">
            <!-- dialog -->
            <div @click.outside="open = false" class="w-full md:w-1/2 bg-white rounded-xl">
                <!-- modal title -->
                <div class="py-2 flex justify-between items-center px-4 text-lg font-semibold bg-gray-100 rounded-t-xl">
                    modal title
                    <button class="hover:bg-red-500 rounded-sm hover:text-white" @click="open= !open">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>

                </div>
                <!-- modal body -->
                <div class="p-4">
                    modal body
                </div>
                <!-- modal footer -->
                <div class="py-2 px-4 text-lg font-semibold bg-gray-100 flex justify-end">
                    <button @click="acept"
                        class="py-2 m-2 px-6 bg-blue-600 hover-bg-opacity-95 inline-flex jusity-center items-center text-white rounded-md shadow">
                        Acept
                    </button>
                    <button @click="open = !open"
                        class="py-2 m-2 px-6 bg-red-600 hover-bg-opacity-95 inline-flex jusity-center items-center text-white rounded-md shadow">
                        Cancel
                    </button>
                </div>



            </div>
        </div>
    </div>

    <br>

    <!-- TABs -->
    <div x-data="{tabs:['Home','Users','Settings','Orders'],activeTab:'Home'}">
        <div class="flex">
            <template x-for="tab in tabs">
                <a @click="activeTab = tab" x-text="tab" class="cursor-pointer border-2 py-1 px-3 bg-white "
                    :class="{'border-2 border-blue-500' : activeTab === tab,'text-blue-500' : activeTab === tab}">

                </a>
            </template>
        </div>
        <div class="py-2 px-3 bg-white">
            <div x-show="activeTab === 'Home'" x-transition>
                Home
            </div>
            <div x-show="activeTab === 'Users'" x-transition>
                Users
            </div>
            <div x-show="activeTab === 'Settings'" x-transition>
                Settings
            </div>
            <div x-show="activeTab === 'Orders'" x-transition>
                Orders
            </div>
        </div>
    </div>

    <br>

    <!-- Carousel -->
    <div x-data="{images:['./images/car2.png','./images/car.png','./images/car1.png','./images/download.png'],
    activeImage:null,
    prev(){
        let index = this.images.indexOf(this.activeImage);
        if(index === 0 ) index = this.images.length;
        this.activeImage = this.images[index - 1];
    },
    next(){
        let index = this.images.indexOf(this.activeImage);
        if(index === this.images.length - 1 ) index = -1;
        this.activeImage = this.images[index + 1];
    },
    init(){
        this.activeImage= this.images.length > 0 ? this.images[0] : null
    },
}">
        <div class="relative w-full h-[80vh] ">
            <template x-for="image in images">
                <div class="w-full h-full absolute flex justify-center items-center overflow-hidden">
                    <img class="w-auto h-auto" x-show="activeImage === image" :src="image" x-transition.duration.500ms
                        alt="">
                </div>
            </template>
            <a href="#" @click.prevent="prev" class="absolute left-0 top-1/2 -translate-1/2 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-16 h-16">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                </svg>
            </a>
            <a href="#" @click.prevent="next" class="absolute right-0 top-1/2 -translate-1/2 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-16 h-16">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                </svg>
            </a>
        </div>

        <div class="flex">
            <template x-for="image in images">
                <a @click="activeImage = image" :class="{'border-purple-600 border-2' : activeImage === image}"
                    class="cursor-pointer w-[80px] border border-gray-300 flex justify-center items-center hover:border-2 hover:border-purple-500">
                    <img :src="image" alt="" class="object-cover"></a>
            </template>


        </div>
        <!-- <img src="./images/car.png" alt=""> -->
    </div>

    <!-- Accordion -->
    <div x-data="{
        items:[
            {title:'title 1',body:'body 1'},
            {title:'title 2',body:'body 2'},
            {title:'title 3',body:'body 3'},
            {title:'title 4',body:'body 4'},
        ],
        activeItem:null
    }">
        <template x-for="item in items">
            <div>
                <div @click="activeItem = item"
                    class="flex justify-between jusity-center font-semiboldursor-pointer hover:text-blue-400 transition-all py-1 px-2 bg-gray-200 border-2">
                    <span x-text="item.title"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                    </svg>

                </div>
                <div x-show="activeItem === item" x-html="item.body" class="p-2 bg-white border-2 border-blue-100"
                    x-transition></div>
        </template>
    </div>

    <!-- Notification -->
    <div x-data="{
        visible:true,
        timeout:5000,
        percent:0,
        init(){
            setTimeout(()=>{
                this.visible = false;
            },this.timeout)
            const startData = Date.now();
            const futureData = Date.now() + this.timeout;
            const interval = setInterval(()=>{
                const date = Date.now();
                this.percent = (date - startData) * 100 / (futureData - startData);
                if(this.percent >= 100)
                {
                    clearInterval(interval);
                }
            },30)
        },
        get percent(){

        }
    
    }" class="py-2 px-4 bg-green-400 text-white relative">
        <div class="font-semibold mb-2">Notification haahaa</div>
        <div x-show="visible" x-transition.duration.500ms>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam dicta doloribus, error, asperiores
            reiciendis aut rem molestiae, libero eveniet tempora rerum aspernatur expedita blanditiis beatae
            voluptatibus magni eaque! Expedita, autem.
        </div>
        <button @click="visible = !visible"
            class="absolute right-1 top-1 w-[30px] h-[30px] rounded-full hover:bg-red-500 transition-colors flex justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" x-transition :class="{'hidden':!visible}" fill="none"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" :class="{'hidden' : visible}" x-transition fill="none"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
            </svg>
        </button>
        <!-- progress -->
        <div>
            <div class="absolute left-0 bottom-0 right-0 h-[6px] bg-black/10" :class="{ 'width':`${percent}%`}">
            </div>
        </div>
    </div>

    <!-- Popover -->
    <div x-data="{
        show:false,
        title: 'Text popover',
        message: 'Test <b>popover</b> message',
        showPopover(){
            console.log(this.$refs.button, this.$refs.popover);
            this.show = !this.show
        },
    }" class="relative mt-8 flex justify-center items-center">
        <button @click="showPopover" x-ref="button"
            class="inline-flex items-center py-2 px-6 bg-purple-600 hover:bg-opacity-95 text-white rounded-md  shadow">
            Popover
        </button>
        <div x-show="show" x-ref="popover" x-transition class="absolute bottom-[100%] bg-red-100 w-[200px] rounded ">
            <!-- header popover -->
            <div class="flex justify-between items-center font-semibold py-1 px-2">
                <span x-text="title"></span>
                <svg @click="show=false" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hover:bg-red-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </div>
            <!-- body -->
            <div x-html="message" class="p-3 text-sm text-center">

            </div>
        </div>
    </div>

</body>

</html>